#header{
    background-image: url(../images/concert-g7109e9d5a_1920.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat:inherit;
}

#upcoming{
    background-image: url(../images/dj-1531431_1920.jpg);
    background-color: grey;
}
